$primary: rgb(15, 76, 129);
$primary_hover: rgb(29, 87, 137);
$primary_active: rgb(58, 108, 152);
$primary_light: rgb(76, 119, 177);
$primary_light_hover: rgb(87, 127, 182);
$primary_light_active: rgb(108, 143, 191);
$primary_dark: rgb(0, 37, 84);
$primary_dark_hover: rgb(15, 50, 94);
$primary_dark_active: rgb(46, 76, 115);
$primary_text: rgb(255, 255, 255);

// c ==> Complimentary Color Harmony
$secondary_c: rgb(129, 68, 15);
$secondary_c_hover: rgb(137, 79, 29);
$secondary_c_active: rgb(152, 102, 58);
$secondary_c_light: rgb(181, 112, 58);
$secondary_c_light_hover: rgb(185, 121, 70);
$secondary_c_light_active: rgb(194, 138, 93);
$secondary_c_dark: rgb(81, 27, 0);
$secondary_c_dark_hover: rgb(91, 41, 15);
$secondary_c_dark_active: rgb(112, 68, 46);
$secondary_c_text: rgb(255, 255, 255);

// a ==> Analogous Color Harmony
$secondary_a1: rgb(15, 30, 129);
$secondary_a1_hover: rgb(29, 44, 137);
$secondary_a1_active: rgb(58, 71, 152);
$secondary_a1_light: rgb(79, 70, 177);
$secondary_a1_light_hover: rgb(90, 81, 182);
$secondary_a1_light_active: rgb(111, 103, 191);
$secondary_a1_dark: rgb(0, 0, 83);
$secondary_a1_dark_hover: rgb(15, 15, 93);
$secondary_a1_dark_active: rgb(46, 46, 114);
$secondary_a1_text: rgb(255, 255, 255);

$secondary_a2: rgb(15, 122, 129);
$secondary_a2_hover: rgb(29, 130, 137);
$secondary_a2_active: rgb(58, 146, 152);
$secondary_a2_light: rgb(80, 169, 176);
$secondary_a2_light_hover: rgb(90, 174, 181);
$secondary_a2_light_active: rgb(112, 184, 190);
$secondary_a2_dark: rgb(0, 77, 85);
$secondary_a2_dark_hover: rgb(15, 88, 95);
$secondary_a2_dark_active: rgb(46, 109, 116);
$secondary_a2_text: rgb(255, 255, 255);

// t ==> Triadic Color Harmony
$secondary_t1: rgb(129, 15, 76);
$secondary_t1_hover: rgb(137, 29, 87);
$secondary_t1_active: rgb(152, 58, 108);
$secondary_t1_light: rgb(180, 70, 120);
$secondary_t1_light_hover: rgb(185, 81, 128);
$secondary_t1_light_active: rgb(194, 103, 144);
$secondary_t1_dark: rgb(80, 0, 36);
$secondary_t1_dark_hover: rgb(90, 15, 49);
$secondary_t1_dark_active: rgb(112, 46, 75);
$secondary_t1_text: rgb(255, 255, 255);

$secondary_t2: rgb(76, 129, 15);
$secondary_t2_hover: rgb(87, 137, 29);
$secondary_t2_active: rgb(108, 152, 58);
$secondary_t2_light: rgb(124, 177, 67);
$secondary_t2_light_hover: rgb(132, 182, 78);
$secondary_t2_light_active: rgb(148, 191, 101);
$secondary_t2_dark: rgb(27, 84, 0);
$secondary_t2_dark_hover: rgb(41, 94, 15);
$secondary_t2_dark_active: rgb(68, 115, 46);
$secondary_t2_text: rgb(255, 255, 255);

// Additional action colors
$surface: rgb(255,255,255);
$error: rgb(244,67,54);
$warning: rgb(255,152,0);
$info: rgb(33,150,243);
$success: rgb(76,175,80);
