$primary: rgb(255,0,255);
$primary_hover: rgb(240, 0, 240);
$primary_active: rgb(209, 0, 209);
$primary_light: rgb(255,99,255);
$primary_light_hover: rgb(240, 93, 240);
$primary_light_active: rgb(209, 81, 209);
$primary_dark: rgb(199,0,203);
$primary_dark_hover: rgb(187, 0, 191);
$primary_dark_active: rgb(163, 0, 166);
$primary_text: rgb(0,0,0,1);

// c ==> Complimentary Color Harmony
$secondary_c: rgb(0,255,0);
$secondary_c_hover: rgb(0, 240, 0);
$secondary_c_active: rgb(0, 209, 0);
$secondary_c_light: rgb(112,255,86);
$secondary_c_light_hover: rgb(105, 240, 81);
$secondary_c_light_active: rgb(92, 209, 71);
$secondary_c_dark: rgb(0,202,0);
$secondary_c_dark_hover: rgb(0, 190, 0);
$secondary_c_dark_active: rgb(0, 166, 0);
$secondary_c_text: rgb(0,0,0,1);

// a ==> Analogous Color Harmony
$secondary_a1: rgb(153,0,255);
$secondary_a1_hover: rgb(159, 15, 255);
$secondary_a1_active: rgb(171, 46, 255);
$secondary_a1_light: rgb(209,81,255);
$secondary_a1_light_hover: rgb(212, 91, 255);
$secondary_a1_light_active: rgb(217, 112, 255);
$secondary_a1_dark: rgb(95,0,202);
$secondary_a1_dark_hover: rgb(105, 15, 205);
$secondary_a1_dark_active: rgb(124, 46, 212);
$secondary_a1_text: rgb(255,255,255,1);

$secondary_a2: rgb(255,0,153);
$secondary_a2_hover: rgb(240, 0, 144);
$secondary_a2_active: rgb(209, 0, 125);
$secondary_a2_light: rgb(255,94,202);
$secondary_a2_light_hover: rgb(240, 88, 190);
$secondary_a2_light_active: rgb(209, 77, 166);
$secondary_a2_dark: rgb(198,0,107);
$secondary_a2_dark_hover: rgb(186, 0, 101);
$secondary_a2_dark_active: rgb(162, 0, 88);
$secondary_a2_text: rgb(0,0,0,1);

// t ==> Triadic Color Harmony
$secondary_t1: rgb(255,255,0);
$secondary_t1_hover: rgb(240, 240, 0);
$secondary_t1_active: rgb(209, 209, 0);
$secondary_t1_light: rgb(255,255,90);
$secondary_t1_light_hover: rgb(240, 240, 85);
$secondary_t1_light_active: rgb(209, 209, 74);
$secondary_t1_dark: rgb(199,204,0);
$secondary_t1_dark_hover: rgb(187, 192, 0);
$secondary_t1_dark_active: rgb(163, 167, 0);
$secondary_t1_text: rgb(0,0,0,1);

$secondary_t2: rgb(0,255,255);
$secondary_t2_hover: rgb(0, 240, 240);
$secondary_t2_active: rgb(0, 209, 209);
$secondary_t2_light: rgb(114,255,255);
$secondary_t2_light_hover: rgb(107, 240, 240);
$secondary_t2_light_active: rgb(93, 209, 209);
$secondary_t2_dark: rgb(0,203,204);
$secondary_t2_dark_hover: rgb(0, 191, 192);
$secondary_t2_dark_active: rgb(0, 166, 167);
$secondary_t2_text: rgb(0,0,0,1);

// Additional action colors
$surface: rgb(255,255,255);
$error: rgb(244,67,54);
$warning: rgb(255,152,0);
$info: rgb(33,150,243);
$success: rgb(76,175,80);
