$primary: rgb(255, 0, 0);
$primary_hover: rgb(240, 0, 0);
$primary_active: rgb(209, 0, 0);
$primary_light: rgb(255, 90, 54);
$primary_light_hover: rgb(240, 85, 51);
$primary_light_active: rgb(209, 74, 44);
$primary_dark: rgb(194, 0, 0);
$primary_dark_hover: rgb(182, 0, 0);
$primary_dark_active: rgb(159, 0, 0);
$primary_text: rgb(0, 0, 0);

// c ==> Complimentary Color Harmony
$secondary_c: rgb(0, 255, 255);
$secondary_c_hover: rgb(0, 240, 240);
$secondary_c_active: rgb(0, 209, 209);
$secondary_c_light: rgb(114, 255, 255);
$secondary_c_light_hover: rgb(107, 240, 240);
$secondary_c_light_active: rgb(93, 209, 209);
$secondary_c_dark: rgb(0, 203, 204);
$secondary_c_dark_hover: rgb(0, 191, 192);
$secondary_c_dark_active: rgb(0, 166, 167);
$secondary_c_text: rgb(0, 0, 0);

// a ==> Analogous Color Harmony
$secondary_a1: rgb(255, 102, 0);
$secondary_a1_hover: rgb(240, 96, 0);
$secondary_a1_active: rgb(209, 84, 0);
$secondary_a1_light: rgb(255, 152, 63);
$secondary_a1_light_hover: rgb(240, 143, 59);
$secondary_a1_light_active: rgb(209, 125, 52);
$secondary_a1_dark: rgb(196, 51, 0);
$secondary_a1_dark_hover: rgb(184, 48, 0);
$secondary_a1_dark_active: rgb(161, 42, 0);
$secondary_a1_text: rgb(0, 0, 0);

$secondary_a2: rgb(255, 0, 102);
$secondary_a2_hover: rgb(240, 0, 96);
$secondary_a2_active: rgb(209, 0, 84);
$secondary_a2_light: rgb(255, 92, 147);
$secondary_a2_light_hover: rgb(240, 86, 138);
$secondary_a2_light_active: rgb(209, 75, 121);
$secondary_a2_dark: rgb(197, 0, 60);
$secondary_a2_dark_hover: rgb(185, 0, 56);
$secondary_a2_dark_active: rgb(162, 0, 49);
$secondary_a2_text: rgb(0, 0, 0);

// t ==> Triadic Color Harmony
$secondary_t1: rgb(0, 255, 0);
$secondary_t1_hover: rgb(0, 240, 0);
$secondary_t1_active: rgb(0, 209, 0);
$secondary_t1_light: rgb(112, 255, 86);
$secondary_t1_light_hover: rgb(105, 240, 81);
$secondary_t1_light_active: rgb(92, 209, 71);
$secondary_t1_dark: rgb(0, 202, 0);
$secondary_t1_dark_hover: rgb(0, 190, 0);
$secondary_t1_dark_active: rgb(0, 166, 0);
$secondary_t1_text: rgb(0, 0, 0);

$secondary_t2: rgb(0, 0, 255);
$secondary_t2_hover: rgb(15, 15, 255);
$secondary_t2_active: rgb(46, 46, 255);
$secondary_t2_light: rgb(113, 66, 255);
$secondary_t2_light_hover: rgb(122, 77, 255);
$secondary_t2_light_active: rgb(139, 100, 255);
$secondary_t2_dark: rgb(0, 0, 202);
$secondary_t2_dark_hover: rgb(15, 15, 205);
$secondary_t2_dark_active: rgb(46, 46, 212);
$secondary_t2_text: rgb(255, 255, 255);

// Additional action colors
$surface: rgb(255,255,255);
$error: rgb(244,67,54);
$warning: rgb(255,152,0);
$info: rgb(33,150,243);
$success: rgb(76,175,80);
